*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.inputWrapper{
    position: absolute;
}
.testView{
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    overflow: auto;
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    top: 10%;
}
.testView::-webkit-scrollbar {
    display: none;
}

.wordsInput{
    position: relative;
    top: -9999px;
}
.word{
    height: 41px;
    z-index: 2;
}

.letter{
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 30px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    color: rgb(179, 179, 179);
}
.letter_correct{
    color: white;

}
.letter_incorrect{
    color: #ff0000;
    background: #ff7f81;
    text-decoration: underline;
    text-decoration-color: #ff0000;
    text-underline-offset: 2px;
    border-radius: 3px;
}

.timer {
    width: 15%; /* или max-width, или без ширины — зависит от контента */
    height: 8%;
    margin: 0 auto; /* центрирует блок по горизонтали */
    text-align: center; /* если внутри текст — центрируем его */
    padding: 10px;
    background: #d63033;
    border-radius: 8px;
    font-weight: bold;
}
.container {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(min-content, 15%) 85%; /* фиксированные ширины */
    white-space: nowrap;
}
.item{
    padding: 10px;
}

.item1 {
    background-color: #b54bd3;
    text-align: center;
    height: 100vh; /* 100% высоты viewport */
    position: relative;
}
.item2 {
    background-color: #8E24AA;
    position: relative;
    height: 100vh; /* 100% высоты viewport */
}
.item3 {
    background-color: #8E24AA;
    height: 100vh; /* 100% высоты viewport */
}

.button {
    color: white;
    background-color: #e4f2b3;
    width: 300px;
    height: 40px;
}

.carret {
    width: 4px;
    height: 40px;
    background-color: #df7bff;
    border-radius: 3px; /* Закруглённые края — получается "пульс" */
    animation: blink 1s step-end infinite;
    position: relative;
    z-index: 1;
    left: 4px;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

